// ==========================================================================
// Btn
// ==========================================================================

.btn {
	display: inline-flex;
	vertical-align: middle;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	text-decoration: none;
	appearance: none;
	padding: 1.2rem 2.4rem 1.2rem 3.7rem;
	background-color: #f7aa1a;
	gap: 4.9rem;
	color: #000;
	font-weight: 700;
	font-family: var(--ff-now);
	font-size: 3.6rem;
	-webkit-mask-image: url('/assets/images/svg/btn-decoration.svg');
	mask-image: url('/assets/images/svg/btn-decoration.svg');
	-webkit-mask-size: contain;
	mask-size: contain;
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	-webkit-mask-position: center;
	mask-position: center;
	transition:
		background-color 0.3s,
		color 0.3s;

	@include breakpoint-down(tablet) {
		font-size: 3.2rem;
	}

	@include breakpoint-down(mobile) {
		font-size: 1.4rem;
		gap: 1.4rem;
		padding: 1.4rem 1rem 1.2rem;
	}

	&:hover {
		background-color: #ff0000;
		color: #fff;
	}

	img {
		@include breakpoint-down(tablet) {
			width: 5rem;
		}

		@include breakpoint-down(mobile) {
			width: 2.4rem;
		}
	}
}

// Btn block
.btn--block {
	display: block;
	padding-inline: 0;
}

// Btn success
.btn-success {
	width: 100%;
	background-color: #2a28b8;
	color: white;
	font-size: 2.5rem;

	@include breakpoint-down(mobile) {
		font-size: 18px;
	}
}
