// ==========================================================================
// Shell
// ==========================================================================

.shell {
	--shell-max-width: 1280px;
	--shell-gutter: 16px;

	max-width: calc(var(--shell-max-width) + (var(--shell-gutter) * 2));
	padding-inline: var(--shell-gutter);
	margin-inline: auto;
	width: 100%;
}

// Shell fluid
.shell--fluid {
	max-width: none;
}
