// ==========================================================================
// Wrapper
// ==========================================================================

.wrapper {
	position: relative;
	min-height: 100svh;
	overflow: hidden;
}

// wrapper overflow
.wrapper--overflow {
	overflow: hidden;
}
