/* ------------------------------------------------------------ *\
	accordion
\* ------------------------------------------------------------ */

.accordion {
	.accordion__head {
		cursor: pointer;
		background-color: #f7aa1a;
		padding: 1.9rem 5rem 1.9rem 1.9rem;
		color: #fff;
		text-align: center;
		position: relative;

		@include breakpoint-down(mobile) {
			text-align: left;
			padding: 1.6rem 3rem 1.6rem 1.6rem;
		}

		&:before {
			content: '+';
			position: absolute;
			right: 4rem;
			top: 50%;
			font-size: 8.6rem;
			transform: translateY(-50%);
			margin-top: -0.6rem;
			font-family: var(--ff-jumbo);

			@include breakpoint-down(tablet) {
				font-size: 7rem;
				margin-top: -0.3rem;
			}

			@include breakpoint-down(mobile) {
				right: 1.6rem;
				font-size: 5.2rem;
			}
		}
	}

	.accordion__head h3 {
		font-size: 3.2rem;

		@include breakpoint-down(tablet) {
			font-size: 2.6rem;
		}

		@include breakpoint-down(mobile) {
			font-size: 2rem;
		}
	}

	.accordion__body {
		max-width: 116rem;
		margin: 0 auto;
		display: grid;
		grid-template-rows: 0fr;
		transition: grid-template-rows 0.3s ease-in-out;

		@include breakpoint-down(mobile) {
		}
	}

	.accordion__content {
		overflow: hidden;
		transition: padding 0.3s ease-in-out;
	}

	.accordion__inner {
		display: flex;
		align-items: flex-start;
		gap: 1rem;

		@include breakpoint-down(tablet) {
			flex-direction: column;
			align-items: center;
			justify-content: center;
			gap: 4rem;
		}

		@include breakpoint-down(mobile) {
			gap: 2rem;
		}
	}

	.accordion__inner > img {
		width: 7.2rem;
		max-width: 7.2rem;

		@include breakpoint-down(tablet) {
			transform: rotate(90deg);
		}

		@include breakpoint-down(mobile) {
			width: 4.4rem;
			height: 4.4rem;
		}
	}

	.accordion__col {
		flex: 1 1 auto;

		@include breakpoint-down(tablet) {
			width: 100%;
			max-width: 100%;
		}
	}

	// is open
	.is-open .accordion__head:before {
		content: '-';
	}

	.is-open .accordion__body {
		grid-template-rows: 1fr;
	}

	.is-open .accordion__content {
		padding: 10rem 0 0;

		@include breakpoint-down(tablet) {
			padding: 6rem 0 0;
		}

		@include breakpoint-down(mobile) {
			padding: 4.2rem 0 0;
		}
	}
}

// accordion adjust
.accordion--adjust {
	.accordion__body {
		max-width: 100%;
	}
}
