/* ------------------------------------------------------------ *\
	list-checkboxes
\* ------------------------------------------------------------ */

.checkboxes {
	gap: 1rem;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-auto-rows: repeat(auto auto);
}
