/* ------------------------------------------------------------ *\
	checkbox
\* ------------------------------------------------------------ */

.checkbox {
	border: 2px dashed #4d4d4d;
	text-align: center;
	padding: 6.1rem 2rem 1.3rem;
	position: relative;
	color: #4d4d4d;
	font-size: 4.2rem;
	font-weight: 700;
	display: grid;
	grid-row: span 2;
	grid-template-rows: subgrid;
	gap: 0;
	position: relative;
	isolation: isolate;

	&:before {
		content: '';
		display: inline-block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		display: none;
		background-color: rgb(250, 255, 250);
	}

	@include breakpoint-down(small-desktop) {
		font-size: 3.6rem;
	}

	@include breakpoint-down(mobile) {
		font-size: 2.8rem;
		padding-top: 4rem;
		padding-bottom: 1.8rem;
		border: 0.2rem dashed #4d4d4d;
	}

	@media screen and (max-width:390px) {
		font-size: 2.2rem;
		padding: 4rem 0 1.8rem;
	}

	.checkbox__discount {
		position: absolute;
		top: 1rem;
		left: 1rem;
		display: none;

		@include breakpoint-down(mobile) {
			width: 2.4rem;
		}
	}

	.checkbox__image img {
		@include breakpoint-down(mobile) {
			width: 6rem;
		}

		@media screen and (max-width:390px) {
			width: 4rem;
		}
	}

	&:has(input:checked) {
		border-color: #3bb76f;

		&:before {
			display: block;
		}
	}

	input {
		display: none;
	}

	label {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: 5;
		// pointer-events: none;

		&:before {
			content: '';
			display: inline-block;
			position: absolute;
			top: 1rem;
			left: 50%;
			transform: translateX(-50%);
			width: 3.2rem;
			height: 3.2rem;
			border-radius: 100%;
			border: 0.1rem solid #4d4d4d;

			@include breakpoint-down(mobile) {
				width: 1.8rem;
				height: 1.8rem;
			}
		}

		&:after {
			content: '';
			display: inline-block;
			position: absolute;
			top: 1.8rem;
			left: 50%;
			transform: translateX(-50%);
			width: 2.2rem;
			height: 1.6rem;
			background-image: url('/assets/images/svg/check.svg');
			background-repeat: no-repeat;
			background-size: contain;
			opacity: 0;

			@include breakpoint-down(mobile) {
				width: 1.3rem;
				height: 0.9rem;
				top: 1.4rem;
			}
		}
	}

	input:checked + label:after {
		opacity: 1;
	}

	.checkbox__head {
		@include breakpoint-down(small-desktop) {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
	}

	.checkbox__price {
		display: flex;
		align-items: center;
		gap: 2.4rem;
		justify-content: center;
	}

	.checkbox__price-old {
		position: relative;
		font-size: 3.4rem;
		display: none;

		@include breakpoint-down(small-desktop) {
			font-size: 2.8rem;
		}

		@include breakpoint-down(mobile) {
			font-size: 2.1rem;
		}

		&:before {
			content: '';
			display: inline-block;
			position: absolute;
			bottom: 2rem;
			left: -0.2rem;
			right: -0.2rem;
			height: 0.4rem;
			background-color: #ff0000;
			transform: rotate(-19deg);

			@include breakpoint-down(tablet) {
				height: 0.3rem;
				bottom: 1rem;
			}
		}
	}

	.checkbox__quantity {
		position: relative;
		z-index: 10;
	}

	.checkbox__quantity-entry {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 1rem;
	}

	.checkbox__quantity-entry a {
		text-decoration: none;
	}

	// have discount
	&.have-discount {
		.checkbox__discount {
			display: block;
		}

		.checkbox__price-old {
			display: inline-block;
		}
	}
}
