/* ------------------------------------------------------------ *\
	checkbox-alt
\* ------------------------------------------------------------ */

.checkbox-alt {
	font-size: 2.4rem;
	font-weight: 400;
	font-family: var(--ff-now-alt);

	@include breakpoint-down(mobile) {
		font-size: 2rem;
	}

	input {
		display: none;
	}

	label {
		display: block;
		position: relative;
		padding-right: 5rem;

		&:before {
			content: '';
			display: inline-block;
			position: absolute;
			right: 0;
			top: 0;
			width: 3.2rem;
			height: 3.2rem;
			border: 0.1rem solid #333333;
			border-radius: 0.6rem;

			@include breakpoint-down(mobile) {
				width: 2.8rem;
				height: 2.8rem;
			}
		}

		&:after {
			content: '';
			display: inline-block;
			position: absolute;
			top: 0.9rem;
			right: 0.5rem;
			width: 2.2rem;
			height: 1.5rem;
			background-image: url('/assets/images/svg/check-white.svg');
			background-repeat: no-repeat;
			background-size: contain;
			opacity: 1;

			@include breakpoint-down(mobile) {
				width: 1.9rem;
				height: 1.3rem;
				top: 0.8rem;
				right: 0.4rem;
			}
		}
	}

	input:checked + label:before {
		background-color: #4d4d4d;
	}

	// is error
	&.is-error {
		color: #E14137;
	}
}

// checkbox-alt--yellow-background
.checkbox-alt--yellow-background {
	margin-top: 3rem;

	label a {
		color: #fff;
		font-family: var(--ff-now);
		padding: 0.5rem 0.8rem 0.8rem;
		background-color: #f7aa1a;
		font-weight: 700;
		letter-spacing: 0.06em;
		-webkit-mask-image: url('/assets/images/svg/checkbox-decoration.svg');
		mask-image: url('/assets/images/svg/checkbox-decoration.svg');
		-webkit-mask-size: contain;
		mask-size: contain;
		-webkit-mask-repeat: no-repeat;
		mask-repeat: no-repeat;
		-webkit-mask-position: center;
		mask-position: center;
	}

	&.is-error label a {
		background-color: #E14137;
	}
}
