/* ------------------------------------------------------------ *\
	custom-flags
\* ------------------------------------------------------------ */

.custom-flags {
	.select2-container {
		width: 140px !important;
	}

	.select2-container--default .select2-selection--single {
		background: transparent;
		border: none;
		font-size: 2rem;

		@include breakpoint-down(mobile) {
			font-size: 1.6rem;
		}
	}

	.select2-container--default .select2-selection--single .select2-selection__rendered {
		color: var(--c-base);
		line-height: var(--lh-base);
		padding-right: 0;
		padding-left: 20px;
	}

	.select2-container--default .select2-selection--single .select2-selection__arrow {
		right: unset;
		left: 0;
		top: -2px;
	}

	.select2-container--default .select2-results > .select2-results__options {
		font-size: 2rem;

		@include breakpoint-down(mobile) {
			font-size: 1.6rem;
		}
	}
}
