/* ------------------------------------------------------------ *\
	field-alt
\* ------------------------------------------------------------ */

.field-alt {
	display: block;
	width: 100%;
	background-color: #fff;
	border-radius: 0;
	border: none;
	height: 5.4rem;
	color: #666666;
	padding: 0 2rem;
	font-size: 2rem;
	font-weight: 400;
	font-family: var(--ff-now);

	@include breakpoint-down(mobile) {
		height: 4rem;
		font-size: 1.6rem;
	}
}

// field textarea
.field-alt--textarea {
	padding: 2rem;
	height: 21.5rem;
	resize: none;

	@include breakpoint-down(mobile) {
		height: 16rem;
	}
}
