/* ------------------------------------------------------------ *\
	footer
\* ------------------------------------------------------------ */

.footer {
	padding: 6.5rem 0 3rem;

	@include breakpoint-down(small-desktop) {
		padding: 4rem 0 1rem;
	}

	@include breakpoint-down(mobile) {
		padding: 2.8rem 0 0;
	}

	.footer__inner {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 2rem;
		max-width: 134rem;
		margin: 0 auto;

		@include breakpoint-down(tablet) {
			flex-wrap: wrap;
		}

		@include breakpoint-down(mobile-medium) {
			gap: 1rem;
		}

		@media screen and (max-width: 383px) {
			gap: 0.5rem;
		}
	}

	.footer__list-links {
		margin-bottom: 0;

		@include breakpoint-down(mobile) {
			width: 100%;
		}

		@media screen and (max-width: 383px) {
			margin: 0;
		}
	}

	.footer__logo {
		margin-left: -2rem;

		@include breakpoint-down(tablet) {
			order: 0;
		}

		@include breakpoint-down(mobile) {
			width: 12rem;
		}

		@media screen and (max-width: 383px) {
			width: 10rem;
		}
	}

	.footer__list-links-alt {
		@include breakpoint-down(tablet) {
			order: 1;
		}
	}

	.footer__wrapper {
		@include breakpoint-down(tablet) {
			width: 100%;
			order: 2;
			display: flex;
			justify-content: center;
		}

		@include breakpoint-down(mobile) {
			width: calc(100% + 4rem);
			margin: 0 -2rem;
		}

		@media screen and (max-width: 383px) {
			justify-content: flex-start;
		}
	}
}
