/* ------------------------------------------------------------ *\
	footer
\* ------------------------------------------------------------ */

.footer {
	padding: 6.5rem 0;

	.footer__inner {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 2rem;
		max-width: 134rem;
		margin: 0 auto;
	}

	.footer__list-links {
		margin-bottom: 0;
	}

	.footer__logo {
		margin-left: -2rem;
	}
}
