/* ------------------------------------------------------------ *\
	form
\* ------------------------------------------------------------ */

.form {
	.form__cols {
		display: flex;
		align-items: flex-start;
		gap: 1rem;

		@include breakpoint-down(tablet) {
			flex-direction: column;
			gap: 4rem;
			align-items: center;
			justify-content: center;
		}

		@include breakpoint-down(mobile) {
			gap: 3rem;
		}
	}

	.form__col {
		flex: 1 1 auto;

		@include breakpoint-down(tablet) {
			width: 100%;
			max-width: 100%;
		}
	}

	.form__col-alt img {
		position: relative;
		left: -2rem;

		@include breakpoint-down(tablet) {
			transform: rotate(90deg);
			left: 0;
		}

		@include breakpoint-down(mobile) {
			width: 4.4rem;
		}
	}

	.form__content {
		width: 100%;
		max-width: 52rem;
		margin: 0 auto;

		@include breakpoint-down(tablet) {
			max-width: 100%;
		}
	}

	.form__content.form__content--align-center {
		@include breakpoint-down(tablet) {
			text-align: center;
		}
	}

	.form__head {
		margin-bottom: 3.6rem;
		font-family: var(--ff-now);
		letter-spacing: 0.01em;
		font-size: 2rem;

		@include breakpoint-down(tablet) {
			text-align: center;
		}

		@include breakpoint-down(mobile) {
			font-size: 1.6rem;
			margin-bottom: 2.4rem;
		}
	}

	.level-2 {
		font-size: 3rem;
		font-weight: 500;
		font-family: var(--ff-now-alt);
		margin-bottom: 0.8rem;
		color: #4d4d4d;
		letter-spacing: 0;

		@include breakpoint-down(mobile) {
			font-size: 2.6rem;
		}
	}

	.form__row ~ .form__row {
		margin-top: 3.6rem;

		@include breakpoint-down(mobile) {
			margin-top: 2.6rem;
		}
	}

	.form__label {
		display: flex;
		align-self: flex-start;
		gap: 0.5rem;
		margin-bottom: 0.8rem;
		font-size: 2.4rem;
		font-weight: 500;
		font-family: var(--ff-now);
		transition: color 0.3s;

		@include breakpoint-down(mobile) {
			font-size: 2rem;
		}
	}

	.form__controls {
		position: relative;
	}

	.form__controls > img {
		position: absolute;
		left: 2rem;
		top: 1.5rem;

		@include breakpoint-down(mobile) {
			width: 4.2rem;
			height: 4.2rem;
			left: 1.8rem;
			top: 1.2rem;
		}
	}

	.form__controls .form__custom-flags {
		position: absolute;
		left: 0.7rem;
		top: 2.5rem;

		@include breakpoint-down(mobile) {
			top: 2rem;
		}
	}

	.form__controls:has(.form__custom-flags) .field--number {
		padding-left: 19rem;

		@include breakpoint-down(mobile) {
			padding-left: 15rem;
		}
	}

	.form__row > strong {
		display: flex;
		align-self: flex-start;
		gap: 0.5rem;
		margin-bottom: 0.8rem;
		font-size: 2.4rem;
		font-weight: 500;
		font-family: var(--ff-now);

		@include breakpoint-down(mobile) {
			font-size: 2rem;
		}
	}

	.form__actions {
		margin-top: 3.6rem;
		text-align: center;

		@include breakpoint-down(tablet) {
			margin-top: 6rem;
		}
	}

	// is error
	.is-error .form__label {
		color: #e14137;
	}

	.is-error input {
		border: 0.3rem solid;
		border-color: #e14137;

		&::placeholder {
			color: #e14137;
		}
	}

	.is-error textarea {
		border: 2px solid;
		border-color: #e14137;

		&::placeholder {
			color: #e14137;
		}
	}

	.form__btn {
		background-color: transparent;
		border: none;
		border-radius: 0;
		position: relative;
		color: #fff;
		font-size: 3.7rem;
		font-weight: 700;

		@include breakpoint-down(mobile) {
			font-size: 2.6rem;
		}
	}

	.form__btn > span {
		position: absolute;
		bottom: 1rem;
		left: 50%;
		transform: translateX(-50%);
		text-align: right;
		pointer-events: none;
		width: 29rem;

		@include breakpoint-down(mobile) {
			width: 22rem;
		}
	}
}
