/* ------------------------------------------------------------ *\
	form
\* ------------------------------------------------------------ */

.form {
	.form__head {
		margin-bottom: 3.6rem;
		font-family: var(--ff-now);
		letter-spacing: 0.01em;
	}

	.level-2 {
		font-size: 3.4rem;
		font-weight: 500;
		font-family: var(--ff-now-alt);
		margin-bottom: 0.8rem;
		color: #4d4d4d;
		letter-spacing: 0;
	}

	.form__row ~ .form__row {
		margin-top: 3.6rem;
	}

	.form__row:has(input:required) .form__label {
		color: red;
	}

	.form__label {
		display: flex;
		align-self: flex-start;
		gap: 0.5rem;
		margin-bottom: 0.8rem;
		font-size: 2.9rem;
		font-weight: 500;
		font-family: var(--ff-now);
		transition: color 0.3s;
	}

	.form__controls {
		position: relative;
	}

	.form__controls img {
		position: absolute;
		left: 2rem;
		top: 1.5rem;
	}

	.form__row > strong {
		display: flex;
		align-self: flex-start;
		gap: 0.5rem;
		margin-bottom: 0.8rem;
		font-size: 2.9rem;
		font-weight: 500;
		font-family: var(--ff-now);
	}

	// error
	.error .form__label {
		color: #e14137;
	}
}
