/* ------------------------------------------------------------ *\
	form-simple
\* ------------------------------------------------------------ */

.form-simple {
	.form__row ~ .form__row {
		margin-top: 1rem;
	}

	.form__actions {
		margin-top: 1rem;
	}

	.form__btn {
		display: inline-block;
		border: none;
		border-radius: 0;
		background-color: #c6f2f9;
		padding: 1.2rem 1.5rem;
		color: #345a67;
		font-family: var(--ff-inter);
		text-transform: uppercase;
		transition: opacity 0.3s ease-in-out;

		&:hover {
			opacity: 0.8;
		}
	}
}
