/* ------------------------------------------------------------ *\
	header
\* ------------------------------------------------------------ */

.header {
	padding: 8rem 0 2rem;

	.header__intro {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		gap: 2rem;
		margin-bottom: 6rem;
	}

	.header__logo {
		margin-left: -0.6rem;
	}

	.header__wrapper {
		max-width: 126.7rem;
		margin: 0 auto;
	}
}
