/* ------------------------------------------------------------ *\
	header
\* ------------------------------------------------------------ */

.header {
	padding: 8rem 0 2rem;

	.header__intro {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		gap: 2rem;
		margin-bottom: 5rem;
	}
}
