/* ------------------------------------------------------------ *\
	header
\* ------------------------------------------------------------ */

.header {
	padding: 3rem 0 2rem;

	@include breakpoint-down(tablet) {
		padding: 0 0 2rem;
	}

	.header__bar {
		display: none;

		@include breakpoint-down(tablet) {
			display: block;
			background-color: #e4e4e4;
			padding: 2rem 2rem;
			margin: 0 -2rem 2rem;
		}

		@include breakpoint-down(mobile) {
			padding: 1.4rem 2rem;
			margin-bottom: 2.3rem;
		}
	}

	.header__nav-accounts-mobile {
		@include breakpoint-down(tablet) {
			padding: 0;
		}
	}

	.header__socials {
		max-width: 20rem;

		@include breakpoint-down(tablet) {
			padding: 0;
		}

		@include breakpoint-down(mobile) {
			max-width: 12rem;
			text-align: right;
			margin-top: -1rem;
		}
	}

	.header__socials li:nth-child(3) {
		@include breakpoint-down(tablet) {
			display: none;
		}
	}

	.header__socials-mobile {
		display: none;

		@include breakpoint-down(tablet) {
			display: block;
		}
	}

	.header__socials-mobile ul img {
		@include breakpoint-down(tablet) {
			width: 9rem;
		}

		@include breakpoint-down(mobile) {
			width: 7rem;
		}
	}

	.header__intro {
		position: relative;
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		gap: 2rem;
		margin-bottom: 3rem;
		isolation: isolate;

		@include breakpoint-down(tablet) {
			margin-bottom: 2rem;
			align-items: center;
		}
	}

	.header__decoration {
		position: absolute;
		top: 1rem;
		right: 14%;
		width: 25rem;
		z-index: -1;
		transform: rotateY(180deg);

		@include breakpoint-down(tablet) {
			top: 8.4rem;
			width: 15rem;
			right: unset;
			left: 32vw;
			display: none;
		}
	}

	.header__decoration--adjust {
		transform: rotateY(0);
		right: unset;
		left: 14%;

		@include breakpoint-down(tablet) {
			left: unset;
			right: 32vw;
		}
	}

	.header__logo {
		margin-left: -6.6rem;

		@include breakpoint-down(tablet) {
			width: 22rem;
			margin: 0;
		}

		@include breakpoint-down(mobile) {
			width: 18rem;
		}

		@include breakpoint-down(mobile-medium) {
			width: 18rem;
		}
	}

	.header__holder {
		display: none;
		position: relative;

		@include breakpoint-down(tablet) {
			display: flex;
			max-width: 38rem;
			justify-content: space-between;
			gap: 2rem;
			align-items: center;
			margin: 0 auto;
		}

		@include breakpoint-down(mobile) {
			max-width: 27rem;
		}

		@include breakpoint-down(mobile-medium) {
			max-width: 23rem;
		}
	}

	.header__decoration-mobile {
		display: none;

		@include breakpoint-down(tablet) {
			display: inline-block;
			position: relative;
			left: -12rem;
			pointer-events: none;
		}

		@include breakpoint-down(mobile) {
			width: 15rem;
			left: -6rem;
		}

		@include breakpoint-down(mobile-medium) {
			width: 14rem;
			top: -.5rem
		}

		@include breakpoint-down(mobile-small) {
			width: 12rem;
			margin-left: 0;
			left: -4rem;
		}
	}

	.header__decoration-mobile--adjust {
		@include breakpoint-down(tablet) {
			transform: none;
			margin: 0 -30rem 0 0;
			left: unset;
			right: 50%;

			@include breakpoint-down(mobile) {
				margin-right: -20rem;
			}

			@include breakpoint-down(mobile-medium) {
				margin-right: -17rem;
			}

			@include breakpoint-down(mobile-small) {
				margin-right: -14rem;
			}
		}
	}

	.header__nav-trigger {
		display: none;

		@include breakpoint-down(tablet) {
			display: flex;
			text-align: center;
		}
	}

	.header__wrapper {
		max-width: 127.7rem;
		margin: 0 auto;

		@include breakpoint-down(tablet) {
			display: grid;
			grid-template-rows: 0fr;
			transition: grid-template-rows 0.3s ease-in-out;
		}
	}

	.header__wrapper-content {
		@include breakpoint-down(tablet) {
			overflow: hidden;
			transition: padding 0.3s ease-in-out;
		}
	}

	.header__nav-accounts {
		@include breakpoint-down(tablet) {
			display: none;
		}
	}

	// menu visible
	&.menu-visible .header__wrapper {
		@include breakpoint-down(tablet) {
			grid-template-rows: 1fr;
		}
	}

	&.menu-visible .header__wrapper-content {
		@include breakpoint-down(tablet) {
			padding: 3rem 0 0;
		}
	}

	&.menu-visible .header__nav-trigger span {
		transition:
			transform 0.3s 0.3s,
			top 0.3s,
			opacity 0.3s;
	}

	&.menu-visible .header__nav-trigger span:nth-child(1) {
		top: 0.8rem;
		transform: rotate(45deg);
	}

	&.menu-visible .header__nav-trigger span:nth-child(2) {
		opacity: 0;
	}

	&.menu-visible .header__nav-trigger span:nth-child(3) {
		top: 0.8rem;
		transform: rotate(-45deg);
	}
}
