/* ------------------------------------------------------------ *\
	holder
\* ------------------------------------------------------------ */

.holder {
	& > section ~ section {
		margin-top: 10rem;
	}
}
