/* ------------------------------------------------------------ *\
	list-links-alt
\* ------------------------------------------------------------ */

.list-links-alt {
	list-style: none;
	display: flex;
	color: #fff;
	align-items: center;
	font-size: 2.9rem;
	font-family: var(--ff-now);
	font-weight: 700;

	@include breakpoint-down(tablet) {
		font-size: 2.2rem;
	}

	@include breakpoint-down(mobile) {
		font-size: 1.5rem;
	}

	@include breakpoint-down(mobile-medium) {
		font-size: 1.4rem;
	}

	@media screen and (max-width: 383px) {
		font-size: 1.2rem;
	}

	li a img {
		@include breakpoint-down(mobile) {
			width: 9rem;
		}

		@media screen and (max-width: 383px) {
			width: 7.6rem;
		}
	}

	a {
		display: block;
		padding: 0.9rem 0.8rem;
		position: relative;
		text-decoration: none;
		overflow: hidden;
	}

	li:nth-child(2) a:before {
		content: '';
		position: absolute;
		top: -2rem;
		right: -2.5rem;
		width: 2.4rem;
		height: 15rem;
		background-color: #f7aa1a;
		transform: rotate(-11deg);
		pointer-events: none;
	}

	li:nth-child(2) a {
		background-color: #e14137;
		padding: 0.9rem 0.8rem 0.9rem 0.8rem;
	}

	li:nth-child(3) a {
		background-color: #f7aa1a;
		padding: 0.9rem 0.8rem 0.9rem 0.1rem;
	}
}
