/* ------------------------------------------------------------ *\
	list-info
\* ------------------------------------------------------------ */

.list-info {
	list-style-type: none;
	font-size: 2.6rem;
	font-weight: 700;
	font-family: var(--ff--now);
	color: #333;

	@include breakpoint-down(mobile) {
		font-size: 1.6rem;
	}

	li ~ li {
		margin-top: 3rem;

		@include breakpoint-down(mobile) {
			margin-top: 1.2rem;
		}
	}

	a {
		text-decoration: none;
	}

	span {
		text-decoration: underline;
	}

	strong {
		font-size: 3rem;

		@include breakpoint-down(mobile) {
			font-size: 1.8rem;
		}
	}
}
