/* ------------------------------------------------------------ *\
	list-steps
\* ------------------------------------------------------------ */

.list-steps {
	list-style-type: none;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 2rem 6.2rem;
	padding: 2rem 5.8rem;
	background-color: #1b9da1;
	color: #fff;
	font-size: 2.4rem;
	font-weight: 700;
	font-family: var(--ff-jumbo);
	font-weight: 400;
	letter-spacing: 0.05em;

	@include breakpoint-down(small-desktop) {
		font-size: 2.2rem;
		gap: 2rem 4rem;
	}

	@include breakpoint-down(tablet) {
		font-size: 1.8rem;
		gap: 2rem 3rem;
		justify-content: center;
	}

	@include breakpoint-down(mobile) {
		padding: 1rem 2rem;
		font-size: 1.4rem;
		gap: 1.8rem 1.6rem;
	}

	.steps__number {
		font-family: var(--ff-obelix-pro);
	}

	.steps__image {
		@include breakpoint-down(small-desktop) {
			width: 6rem;
		}
	}

	li:has(.steps__image) {
		@include breakpoint-down(tablet) {
			display: none;
		}
	}

	li:not(:nth-child(1)) {
		position: relative;


		@include breakpoint-down(tablet) {
			padding-left: 6rem;
		}

		@include breakpoint-down(mobile) {
			padding-left: 4.8rem;
		}

		&:before {
			content: '';
			display: none;
			position: absolute;
			left: 0;
			top: 0.4rem;
			width: 6.8rem;
			height: 2.8rem;
			background-image: url('/assets/images/svg/arrow.svg');
			background-repeat: no-repeat;
			background-size: contain;

			@include breakpoint-down(tablet) {
				width: 3.6rem;
				height: 2.2rem;
				display: inline-block;
			}

			@include breakpoint-down(mobile) {
				width: 3.2rem;
				height: 1.4rem;
				top: 0.2rem;
			}
		}
	}

	li span {
		opacity: 0.7;
	}

	// is active
	li.is-active {
		font-size: 2.6rem;

		@include breakpoint-down(small-desktop) {
			font-size: 2.4rem;
		}

		@include breakpoint-down(tablet) {
			font-size: 2rem;
		}

		@include breakpoint-down(mobile) {
			font-size: 1.6rem;
		}
	}

	li.is-active span {
		opacity: 1;
	}
}
