/* ------------------------------------------------------------ *\
	list-checkboxes
\* ------------------------------------------------------------ */

.list-checkboxes {
	list-style-type: none;

	li ~ li {
		margin-top: 2.1rem;
	}
}
