/* ------------------------------------------------------------ *\
	list-links
\* ------------------------------------------------------------ */

.list-links {
	list-style: none;
	display: inline-grid;
	grid-template-columns: 1fr 1fr;
	color: #fff;
	font-size: 1.6rem;
	font-family: var(--ff-montserrat);
	font-weight: 500;

	a {
		display: block;
		padding: 0.6rem 1.5rem;
		background-color: #e14137;
		position: relative;
		text-decoration: none;
		overflow: hidden;
	}

	li:nth-child(1) a:before {
		content: '';
		position: absolute;
		top: -2rem;
		right: -1.6rem;
		width: 2rem;
		height: 8rem;
		background-color: #f7aa1a;
		transform: rotate(-23deg);
	}

	li:nth-child(2) a {
		background-color: #f7aa1a;
		padding: 0.6rem 0rem;
	}

	li:nth-child(3) a {
		background-color: #1b9da1;
		padding: 0.6rem 3rem 0.6rem 1.6rem;

		&:before {
			content: '';
			position: absolute;
			top: -2rem;
			right: -1.6rem;
			width: 3rem;
			height: 8rem;
			background-color: #fff;
			transform: rotate(-23deg);
		}
	}

	// full width
	li.full-width {
		grid-column: span 2;
	}
}
