/* ------------------------------------------------------------ *\
	map
\* ------------------------------------------------------------ */

.map {
	.level-2 {
		text-align: center;
		margin-bottom: 2.4rem;
		color: #4d4d4d;
		font-family: var(--ff-now-alt);
		font-weight: 500;

		@include breakpoint-down(mobile) {
			margin-bottom: 0.8rem;
		}
	}

	.map__image {
		position: relative;
		aspect-ratio: 1160 / 650;
		overflow: hidden;
	}

	.map__image img,
	.map__image iframe .map__image > div {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	.map__meta {
		margin-top: 0.6rem;
		text-align: center;
		background-color: #1b9da1;
		padding: 1.2rem;
		color: #fff;
		font-family: var(--ff-now);
		font-size: 2.9rem;
		font-weight: 700;

		@include breakpoint-down(tablet) {
			font-size: 2.4rem;
		}

		@include breakpoint-down(mobile) {
			font-size: 1.8rem;
			padding: 0.8rem 1rem;
		}
	}

	.map__meta strong {
		display: block;
	}

	// .map__meta  red
	.map__meta--red {
		background-color: #e14137;
	}
}
