/* ------------------------------------------------------------ *\
	map
\* ------------------------------------------------------------ */

.map {
	.map__title-area {
		background-color: #5e5e5f;
		padding: 1.9rem 5rem 1.9rem 1.9rem;
		color: #fff;
		text-align: center;
		position: relative;
		margin-bottom: 2.9rem;

		@include breakpoint-down(mobile) {
			text-align: left;
			padding: 1.6rem 3rem 1.6rem 1.6rem;
			display: none;
		}
	}

	.level-2 {
		text-align: center;
		margin-bottom: 2.4rem;
		color: #4d4d4d;
		font-family: var(--ff-now-alt);
		font-weight: 500;

		@include breakpoint-down(mobile) {
			margin-bottom: 0.8rem;
		}
	}

	.level-2.mb-0 {
		margin-bottom: 0;
		color: #fff;
	}

	.map__image {
		position: relative;
		aspect-ratio: 1160 / 650;
		overflow: hidden;
	}

	.map__image img,
	.map__image iframe .map__image > div {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	.map__meta {
		margin-top: 0.6rem;
		text-align: center;
		background-color: #1b9da1;
		padding: 1.2rem 4rem;
		color: #fff;
		font-family: var(--ff-now);
		font-size: 2.9rem;
		font-weight: 700;
		position: relative;

		@include breakpoint-down(tablet) {
			font-size: 2.4rem;
		}

		@include breakpoint-down(mobile) {
			font-size: 1.8rem;
			padding: 0.8rem 1rem;
		}
	}

	.map__meta h3 {
		margin: 0;
	}

	.map__meta strong {
		display: block;
	}

	.map__meta img {
		position: absolute;
		right: 2rem;
		top: 50%;
		transform: translateY(-50%);

		@include breakpoint-down(tablet) {
			width: 30px;
			height: 30px;
		}

		@include breakpoint-down(mobile) {
			width: 25px;
			height: 25px;
			right: 0.8rem;
		}
	}

	.map__link {
		margin-top: 2rem;
		display: block;
		text-align: center;
		font-size: 3.2rem;
		color: #000;
		font-family: var(--ff-now);

		@include breakpoint-down(mobile) {
			font-size: 1.6rem;
		}
	}

	// .map__meta  red
	.map__meta--red {
		background-color: #e14137;
	}
}
