/* ------------------------------------------------------------ *\
	meta-map
\* ------------------------------------------------------------ */

.meta-map {
	border: 0.2rem dashed #373737;

	.meta__bar ~ .meta__bar {
		margin-top: 0.8rem;

		@include breakpoint-down(mobile) {
			margin-top: 0.4rem;
		}
	}

	.meta__bar {
		color: #fff;
		font-weight: 700;
		font-size: 2.7rem;
		font-family: var(--ff-now);
		text-align: center;
		padding: 1.2rem 2rem;
		background-color: #1b9da1;

		@include breakpoint-down(tablet) {
			font-size: 2.3rem;
		}

		@include breakpoint-down(mobile) {
			font-size: 1.4rem;
		}
	}

	// meta bar red
	.meta__bar--red {
		background-color: #e14137;
	}

	.meta__content {
		position: relative;
	}

	.meta__image {
		position: relative;
		aspect-ratio: 16 / 9;
	}

	.meta__image img {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		object-fit:cover;
	}

	.meta__actions {
		text-align: center;
		position: absolute;
		bottom: 3rem;
		left: 50%;
		transform: translateX(-50%);
		z-index: 10;

		@include breakpoint-down(mobile) {
			bottom: 1rem;
		}
	}
}
