/* ------------------------------------------------------------ *\
	nav-accounts
\* ------------------------------------------------------------ */

.nav-accounts {
	position: relative;
	padding: 1.5rem 1.4rem 1.5rem 0;
	color: #555555;
	text-transform: uppercase;
	font-family: var(--ff-montserrat);
	font-weight: 700;
	font-size: 1.6rem;
	text-align: right;

	@include breakpoint-down(tablet) {
		font-size: 1.4rem;
	}

	@include breakpoint-down(mobile) {
		font-size: 1.2rem;
	}

	@include breakpoint-down(mobile-small) {
		font-size: 1rem;
	}

	.nav__decoration {
		position: absolute;
		top: 0;
		right: 0;
		height: 100%;
	}

	> ul {
		position: relative;
		z-index: 2;
		list-style-type: none;
		display: flex;
		flex-direction: column;
		gap: 3.9rem;

		@include breakpoint-down(tablet) {
			flex-direction: row;
			gap: 1rem 0;
			justify-content: center;
		}

		@include breakpoint-down(mobile-medium) {
			flex-wrap: wrap;
		}
	}

	> ul > li ~ li {
		@include breakpoint-down(tablet) {
			margin-left: 1.5rem;
			position: relative;

			&:before {
				content: '';
				display: inline-block;
				position: absolute;
				left: -0.8rem;
				top: 0.3rem;
				height: 1rem;
				width: 0.2rem;
				background-color: #555555;

				@include breakpoint-down(mobile) {
					left: -0.6rem;
					height: 0.8rem;
				}
			}
		}

		@include breakpoint-down(mobile) {
			margin-left: 1.1rem;
		}
	}

	> ul a {
		text-decoration: none;
		display: inline-block;
		position: relative;

		&:before {
			content: '';
			display: inline-block;
			position: absolute;
			left: 0;
			top: calc(100% + 0.1rem);
			width: 0;
			height: 0.1rem;
			background-color: #555555;
			transition: width 0.3s ease-in-out;
		}
	}

	> ul a:hover:before {
		width: 100%;
	}
}
