/* ------------------------------------------------------------ *\
	nav-trigger
\* ------------------------------------------------------------ */

.nav-trigger {
	display: flex;
	position: relative;
	width: 4.5rem;
	height: 2.8rem;

	@include breakpoint-down(tablet) {
		width: 45px;
		height: 28px;
	}

	span {
		display: block;
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		height: 0.4rem;
		background-color: #f7aa1a;
		transition:
			transform 0.3s,
			top 0.3s 0.3s,
			opacity 0.3s 0.3s;
	}

	span:nth-child(2) {
		top: 50%;
	}

	span:nth-child(3) {
		top: 100%;
	}
}
