/* ------------------------------------------------------------ *\
	nav
\* ------------------------------------------------------------ */

.nav {
	font-weight: 700;
	font-size: 1.9rem;
	color: #555558;
	font-family: var(--ff-now);
	text-align: center;
	text-wrap: balance;
	line-height: 1.469;

	@include breakpoint-down(mobile) {
		font-size: 1.7rem;
	}

	> ul {
		list-style-type: none;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		gap: 3.8rem;
		gap: 3rem;

		@media screen and (max-width: 1140px) {
			// justify-content: center;
		}

		@include breakpoint-down(tablet) {
			flex-direction: column;
			align-items: center;
			gap: 0.5rem;
		}
	}

	> ul > li {
		display: flex;
		justify-content: center;
		align-items: center;
		flex: 0 0 auto;
		max-width: 15.2rem;

		@include breakpoint-down(tablet) {
			max-width: 100%;
			display: block;
			width: 100%;
		}
	}

	> ul > li ~ li {
		position: relative;

		&:before {
			content: '';
			display: inline-block;
			position: absolute;
			left: -1.5rem;
			top: 0;
			height: 100%;
			width: 0.1rem;
			background-color: #000;
			display: none;

			@include breakpoint-down(tablet) {
				display: none;
			}
		}
	}

	> ul > li.nav__line {
		&:before {
			content: '';
			display: inline-block;
			position: absolute;
			left: 0;
			top: 0;
			height: 100%;
			width: 0.1rem;
			background-color: #000;

			@include breakpoint-down(tablet) {
				display: none;
			}
		}

		@include breakpoint-down(tablet) {
			display: none;
		}
	}

	> ul > li > a {
		text-decoration: none;
		display: block;
		isolation: isolate;
		position: relative;
		transition: color 0.3s ease-in-out;

		@include breakpoint-down(tablet) {
			padding: 1rem;
		}

		&:before {
			content: '';
			display: inline-block;
			position: absolute;
			left: -3.5rem;
			right: -3.5rem;
			top: -1.5rem;
			bottom: -1.5rem;
			background-color: #5e5e5f;
			clip-path: polygon(7% 0, 92% 0, 100% 100%, 0% 100%);
			z-index: -1;
			opacity: 0;
			transition: opacity 0.3s ease-in-out;

			@include breakpoint-down(tablet) {
				mask-image: none;
				-webkit-mask-image: none;
				clip-path: none;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
			}
		}
	}

	> ul > li:nth-child(9) {
		max-width: 15.4rem;

		@include breakpoint-down(tablet) {
			max-width: unset;
		}
	}

	> ul > li:nth-child(3) > a:before {
		background-color: #e14137;
		clip-path: polygon(7% 0, 92% 0, 100% 100%, 0% 100%);
		top: -0.5rem;
		bottom: -0.5rem;

		@include breakpoint-down(tablet) {
			mask-image: none;
			-webkit-mask-image: none;
			clip-path: none;
		}
	}

	> ul > li:nth-child(5) > a:before {
		left: 0rem;
		right: 0rem;
		top: -0.5rem;
		bottom: -0.5rem;
		background-color: #1b9da1;
		clip-path: polygon(0 0, 100% 0, 94% 100%, 8% 100%);

		@include breakpoint-down(tablet) {
			mask-image: none;
			-webkit-mask-image: none;
			clip-path: none;
		}
	}

	> ul > li:nth-child(7) > a:before {
		left: -1.9rem;
		right: -1.9rem;
		top: -0.9rem;
		bottom: -0.9rem;
		background-color: #f7aa1a;
		clip-path: polygon(1% 0, 94% 0, 100% 100%, 0 100%);

		@include breakpoint-down(tablet) {
			mask-image: none;
			-webkit-mask-image: none;
			clip-path: none;
		}
	}

	> ul > li:nth-child(9) > a:before {
		left: -1.9rem;
		right: -1.9rem;
		top: -1.3rem;
		bottom: -1.3rem;
		clip-path: polygon(5% 5%, 100% 0, 100% 100%, 0 95%);

		@include breakpoint-down(tablet) {
			mask-image: none;
			-webkit-mask-image: none;
			clip-path: none;
		}
	}

	> ul > li:nth-child(11) > a:before {
		left: -1.3rem;
		right: -1.3rem;
		top: -0.8rem;
		bottom: -0.8rem;
		clip-path: polygon(0 0, 100% 6%, 100% 94%, 9% 100%);

		@include breakpoint-down(tablet) {
			mask-image: none;
			-webkit-mask-image: none;
			clip-path: none;
		}
	}

	> ul > li:nth-child(13) > a:before {
		top: -1.2rem;
		bottom: -1.2rem;
		left: -1.3rem;
		right: -1.3rem;
		clip-path: polygon(4% 0, 100% 0, 100% 100%, 0 91%);

		@include breakpoint-down(tablet) {
			mask-image: none;
			-webkit-mask-image: none;
			clip-path: none;
		}
	}

	> ul > li:nth-child(15) > a:before {
		top: -1rem;
		bottom: -1rem;
		left: -1rem;
		right: -1rem;
		clip-path: polygon(0 5%, 100% 0, 100% 98%, 0 93%);

		@include breakpoint-down(tablet) {
			mask-image: none;
			-webkit-mask-image: none;
			clip-path: none;
		}
	}

	> ul > li > a br {
		@include breakpoint-down(tablet) {
			display: none;
		}
	}

	> ul > li > a:hover {
		color: #fff;
	}

	> ul > li > a:hover:before {
		opacity: 1;
	}

	// is :current
	> ul > li.is-current > a {
		color: #fff;
	}

	> ul > li.is-current > a:before {
		opacity: 1;
	}
}
