/* ------------------------------------------------------------ *\
	panel
\* ------------------------------------------------------------ */

.panel {
	position: relative;
	padding: 3.3rem 1.2rem 11rem;
	text-align: center;
	text-wrap: balance;
	color: #4d4d4d;
	font-size: 1.7rem;
	line-height: 1.352;
	letter-spacing: 0.01em;
	font-weight: 500;
	font-family: var(--ff-now);
	background-color: #fff;
	background-image: url('/assets/images/temp/panel-img.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom;

	&:before {
		content: '';
		display: inline-block;
		position: absolute;
		top: 0;
		right: 1.4rem;
		width: 7rem;
		height: 7rem;
		transform: translateY(-50%);
		border-radius: 100%;
		background-color: #1b9da1;

		@include breakpoint-down(mobile) {
			width: 5rem;
			height: 5rem;
			right: 1rem;
		}
	}

	@include breakpoint-down(mobile) {
		padding: 1.7rem 0.8rem 9.1rem;
		font-size: 1.35rem;
	}

	> p:not(:last-child) {
		margin-bottom: 2rem;

		@include breakpoint-down(mobile) {
			margin-bottom: 1.6rem;
		}
	}

	> strong {
		display: block;
		text-transform: uppercase;
		font-size: 2rem;
		margin-bottom: 2rem;

		@include breakpoint-down(mobile) {
			font-size: 1.6rem;
			margin-bottom: 1.6rem;
		}
	}
}
