/* ------------------------------------------------------------ *\
	radios
\* ------------------------------------------------------------ */

.radios {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 1.2rem;
}
