/* ------------------------------------------------------------ *\
	radio
\* ------------------------------------------------------------ */

.radio {
	input {
		display: none;
	}

	label {
		height: 100%;
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 0.7rem;
		font-size: 2.2rem;
		font-weight: 400;
		font-family: var(--ff-now-alt);
		text-align: center;
		border-radius: 0.6rem;
		border: 0.16rem solid #1a1a1a;
		transition:
			color 0.3s,
			background-color 0.3s;

		@include breakpoint-down(mobile) {
			font-size: 1.8rem;
		}
	}

	label span {
		display: block;
		line-height: 1;
	}

	input:checked + label {
		background-color: #4d4d4d;
		color: #fff;
	}
}
