/* ------------------------------------------------------------ *\
	section-simple
\* ------------------------------------------------------------ */

.section-simple {
	padding: 4rem 0 5rem;
	position: relative;

	&:before {
		content: '';
		display: inline-block;
		position: absolute;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		width: 120rem;
		border-top: 0.3rem dashed #9a9a9a;

		@media screen and (max-width: 1240px) {
			transform: none;
			left: 2rem;
			right: 2rem;
			width: auto;
		}
	}

	.section__accordion {
		margin-bottom: 3.6rem;
	}

	.section__content {
		margin-bottom: 10.5rem;
	}

	.section__foot {
		display: flex;
		flex-direction: column;
		gap: 2.8rem;
		align-items: center;
		color: #000;
		font-family: var(--ff-now);
		font-size: 2.6rem;
		font-weight: 700;
	}

	.section__foot a {
		font-weight: 400;
		font-size: 2.6rem;
	}
}
