/* ------------------------------------------------------------ *\
	section-simple
\* ------------------------------------------------------------ */

.section-simple {
	padding: 4rem 0 5rem;
	position: relative;

	@include breakpoint-down(mobile) {
		padding: 3rem 0;
	}

	&:before {
		content: '';
		display: inline-block;
		position: absolute;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		width: 120rem;
		border-top: 0.3rem dashed #9a9a9a;

		@media screen and (max-width: 1240px) {
			transform: none;
			left: 2rem;
			right: 2rem;
			width: auto;
		}
	}

	.section__accordion {
		margin-bottom: 3.6rem;

		@include breakpoint-down(mobile) {
			margin-bottom: 2.4rem;
		}
	}

	.section__accordion .accordion__head {
		@include breakpoint-down(tablet) {
			margin: 0 -2rem;
		}
	}

	.section__content:not(:last-child) {
		margin-bottom: 10.5rem;

		@include breakpoint-down(tablet) {
			margin-bottom: 4rem;
		}
	}

	.section__select-custom {
		margin-bottom: 2rem;
	}

	// seciton content adjust
	.section__content--adjust {
		max-width: 116rem;
		margin: 0 auto;
	}

	.section__cols {
		display: flex;
		align-items: flex-start;
		gap: 1rem;

		@include breakpoint-down(tablet) {
			flex-direction: column;
			gap: 4rem;
			align-items: center;
			justify-content: center;
		}

		@include breakpoint-down(mobile) {
			gap: 3rem;
		}
	}

	.section__col {
		flex: 1 1 auto;

		@include breakpoint-down(tablet) {
			width: 100%;
			max-width: 100%;
		}
	}

	.section__col-alt img {
		@include breakpoint-down(tablet) {
			transform: rotate(90deg);
		}

		@include breakpoint-down(mobile) {
			width: 4.4rem;
		}
	}

	// .section__form {
	// 	width: 100%;
	// 	max-width: 42rem;
	// 	margin: 0 auto;

	// 	@include breakpoint-down(tablet) {
	// 		max-width: 100%;
	// 	}
	// }

	.section__foot {
		display: flex;
		flex-direction: column;
		gap: 2.8rem;
		align-items: center;
		color: #000;
		font-family: var(--ff-now);
		font-size: 2.6rem;
		font-weight: 700;
		text-align: center;

		@include breakpoint-down(tablet) {
			font-size: 2.2rem;
			gap: 2rem;
		}

		@include breakpoint-down(mobile) {
			font-size: 1.6rem;
		}
	}

	.section__foot p {
		margin-bottom: 0;
	}

	.section__foot a {
		font-weight: 400;

		@include breakpoint-down(mobile) {
			text-wrap: balance;
			font-size: 1.4rem;
		}
	}
}

// .section-simple--adjust
.section-simple--adjust {
	padding: 4rem 0 9rem;
	position: relative;

	@include breakpoint-down(tablet) {
		padding-bottom: 5rem;
	}

	@include breakpoint-down(mobile) {
		padding: 3rem 0 5rem;
	}

	.section__accordion {
		@include breakpoint-down(mobile) {
			margin-bottom: 4.4rem;
		}
	}
}
