/* ------------------------------------------------------------ *\
	section-basic
\* ------------------------------------------------------------ */

.section-basic {
	padding: 5rem 0;

	&.section-basic--small-padding {
		@include breakpoint-down(tablet) {
			padding: 0;
		}
	}
}
