/* ------------------------------------------------------------ *\
	section
\* ------------------------------------------------------------ */

.section {
	padding: 5.5rem 0;
	overflow: hidden;

	.section__head {
		text-align: center;
		max-width: 120rem;
		margin: 0 auto 8.9rem;
	}

	.section__head .section__image {
		transform: none;
		opacity: 0;
	}

	.section__body {
		max-width: 112.7rem;
		margin: 0 auto;
	}

	.section__row ~ .section__row {
		margin-top: 7.7rem;
	}

	// section row aligh right
	.section__row--align-right {
		display: flex;
		justify-content: flex-end;
	}

	.section__image {
		text-align: center;
		font-weight: 700;
		font-size: 2.8rem;
		font-family: var(--ff-now);
		display: inline-block;
		opacity: 0;
		transform: translateY(10rem);
	}

	.section__image img {
		display: block;
		margin-bottom: 4rem;
	}

	// .section__image--adjust
	.section__image--adjust {
		font-size: 2.4rem;
	}

	.section__image--adjust img {
		margin-bottom: 4.8rem;
	}

	.section__body .section__image {
		transform: translateX(-20rem);
	}

	.section__row--align-right .section__image {
		transform: translateX(20rem);
	}

	// is visible
	.is-visible {
		opacity: 1;
		transform: none;
		transition:
			transform 0.6s,
			opacity 0.6s ease-in-out;
	}

	.section__row .is-visible {
		opacity: 1;
		transform: none;
		transition:
			transform 0.6s,
			opacity 0.6s ease-in-out;
	}

	.section__row--align-right .is-visible {
		opacity: 1;
		transform: none;
		transition:
			transform 0.6s,
			opacity 0.6s ease-in-out;
	}

	.section__head .is-visible {
		opacity: 1;
		animation: shakeTilt 1.4s;
		transition: opacity 0.6s ease-in-out;
	}
}
