/* ------------------------------------------------------------ *\
	section-cargo
\* ------------------------------------------------------------ */

.section-cargo {
	padding: 2rem 0 4.8rem;

	.section__list-steps {
		margin-bottom: 4.8rem;

		@include breakpoint-down(tablet) {
			margin-bottom: 3rem;
		}
	}

	.section__intro {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 11.2rem;
		margin-bottom: 5.9rem;

		@include breakpoint-down(tablet) {
			flex-direction: column;
			gap: 6rem;
		}
	}

	.section__image-left {
		opacity: 0;
	}

	.section__content h1 {
		text-align: center;
		letter-spacing: 0.05em;
		font-family: var(--ff--now-alt);

		@include breakpoint-down(mobile) {
			margin-bottom: 1.6rem;
		}
	}

	.section__entry {
		@include breakpoint-down(tablet) {
			font-size: 1.8rem;
		}

		@include breakpoint-down(mobile) {
			font-size: 1.4rem;
		}
	}

	.section__select-area {
		padding-top: 10rem;
		max-width: 52rem;
		margin: 0 auto;
	}

	.section__select-area h6 {
		font-size: 2.6rem;
		font-weight: 500;
		margin-bottom: 2rem;
		color: #e14137;

		@include breakpoint-down(mobile) {
			font-size: 2rem;
			text-align: center;
		}
	}

	// is visible
	.section__image-left.is-visible {
		animation: bounce-in 1.6s ease;
		opacity: 1;
		transition: opacity 0.6s ease-in-out;
	}
}
