/* ------------------------------------------------------------ *\
	section
\* ------------------------------------------------------------ */

.section {
	padding: 5.5rem 0;

	.section__head {
		text-align: center;
		max-width: 120rem;
		margin: 0 auto 8.9rem;
	}

	.section__body {
		max-width: 112.7rem;
		margin: 0 auto;
	}

	.section__row ~ .section__row {
		margin-top: 7.7rem;
	}

	// section row aligh right
	.section__row--align-right {
		display: flex;
		justify-content: flex-end;
	}

	.section__image {
		text-align: center;
		font-weight: 700;
		font-size: 2.8rem;
		font-family: var(--ff-now);
		display: inline-block;
	}

	.section__image img {
		display: block;
		margin-bottom: 4rem;
	}

	// .section__image--adjust
	.section__image--adjust {
		font-size: 2.4rem;
	}

	.section__image--adjust img {
		margin-bottom: 4.8rem;
	}
}
