/* ------------------------------------------------------------ *\
	section
\* ------------------------------------------------------------ */

.section {
	padding: 5.5rem 0;
	overflow: hidden;

	@include breakpoint-down(mobile) {
		padding: 1.8rem 0;
	}

	.section__head {
		text-align: center;
		max-width: 120rem;
		margin: 0 auto 8.9rem;

		@include breakpoint-down(tablet) {
			margin-bottom: 2rem;
		}

		@include breakpoint-down(mobile) {
			margin-bottom: 4.6rem;
		}
	}

	.section__scroll-btn {
		display: none;

		@include breakpoint-down(tablet) {
			display: block;
			margin: 4rem 0 0;
		}
	}

	.section__head:nth-last-child(1) {
		margin-bottom: 0;
	}

	.section__head .section__image {
		transform: none;
		opacity: 0;

		@include breakpoint-down(mobile) {
			margin: 0 -2rem;
		}
	}

	.section__head .section__image p {
		@include breakpoint-down(mobile) {
			padding: 0 2rem;
		}
	}

	// section__image--adjust
	.section__head .section__image--adjust {
		@include breakpoint-down(mobile) {
			margin: 0;
		}
	}

	.section__head .section__image--adjust p {
		@include breakpoint-down(mobile) {
			padding: 0;
		}
	}

	.section__body {
		max-width: 112.7rem;
		margin: 0 auto;
	}

	.section__row ~ .section__row {
		margin-top: 7.7rem;

		@include breakpoint-down(mobile) {
			margin-top: 3.2rem;
		}
	}

	// section row aligh right
	.section__row--align-right {
		display: flex;
		justify-content: flex-end;
	}

	.section__image {
		text-align: center;
		font-weight: 700;
		font-size: 2.4rem;
		font-family: var(--ff-now);
		display: inline-block;
		opacity: 0;
		transform: translateY(10rem);

		@include breakpoint-down(tablet) {
			font-size: 2rem;
		}

		@include breakpoint-down(mobile) {
			font-size: 1.8rem;
		}
	}

	.section__image img {
		display: block;
		margin-bottom: 4rem;

		@include breakpoint-down(mobile) {
			margin-bottom: 2.6rem;
		}
	}

	.section__image--adjust img {
		margin-bottom: 4.8rem;

		@include breakpoint-down(mobile) {
			margin-bottom: 2rem;
		}
	}

	.section__body .section__image {
		transform: translateX(-20rem);
	}

	.section__row--align-right .section__image {
		transform: translateX(20rem);
	}

	// is visible
	.is-visible {
		opacity: 1;
		transform: none;
		transition:
			transform 0.6s,
			opacity 0.6s ease-in-out;
	}

	.section__row .is-visible {
		opacity: 1;
		transform: none;
		transition:
			transform 0.6s,
			opacity 0.6s ease-in-out;
	}

	.section__row--align-right .is-visible {
		opacity: 1;
		transform: none;
		transition:
			transform 0.6s,
			opacity 0.6s ease-in-out;
	}

	.section__head .is-visible {
		opacity: 1;
		animation: shakeTilt 1.4s;
		transition: opacity 0.6s ease-in-out;
	}
}
