/* ------------------------------------------------------------ *\
	section
\* ------------------------------------------------------------ */

.section {
	padding: 5.5rem 0;
	overflow: hidden;

	@include breakpoint-down(mobile) {
		padding: 1.8rem 0;
	}

	.section__head {
		text-align: center;
		max-width: 120rem;
		margin: 0 auto 8.9rem;

		@include breakpoint-down(tablet) {
			margin-bottom: 2rem;
		}

		@include breakpoint-down(mobile) {
			margin-bottom: 4.6rem;
		}
	}

	.section__scroll-btn {
		display: none;

		@include breakpoint-down(tablet) {
			display: block;
			margin: 4rem 0 0;
		}
	}

	.section__head:nth-last-child(1) {
		margin-bottom: 0;
	}

	.section__head .section__image {
		transform: none;
		opacity: 0;
		position: relative;

		@include breakpoint-down(mobile) {
			margin: 0 -2rem;
		}
	}

	.section__head .section__image .section__image-number {
		position: absolute;
		top: 49.3%;
		right: 20.4%;
		color: #fff;
		font-size: 3.6rem;
		font-family: var(--ff-obelix-pro);
		font-weight: 500;

		@include breakpoint-down(mobile) {
			font-size: 3.5vw;
			top: 47.6%;
		}

		@include breakpoint-down(mobile-medium) {
			top: 31vw;
		}
	}

	.section__image-link {
		padding: 0 20px;
	}

	.section__head .section__image p {
		@include breakpoint-down(mobile) {
			padding: 0 2rem;
		}
	}

	// section__image--adjust
	.section__head .section__image--adjust {
		@include breakpoint-down(mobile) {
			margin: 0;
		}
	}

	.section__head .section__image--adjust p {
		@include breakpoint-down(mobile) {
			padding: 0;
		}
	}

	.section__body {
		max-width: 171.3rem;
		margin: 0 auto;
	}

	.section__row ~ .section__row {
		margin-top: 7.7rem;

		@include breakpoint-down(mobile) {
			margin-top: 3.2rem;
		}
	}

	// section row aligh right
	.section__row--align-right {
		display: flex;
		justify-content: flex-end;
	}

	// section row align center
	.section__row--align-center {
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
	}

	// section row flex
	.section__row--flex {
		display: flex;
		justify-content: space-between;
		gap: 5rem;

		@include breakpoint-down(mobile) {
			flex-direction: column;
			justify-content: center;
			align-items: center;
			gap: 2rem;
		}
	}

	.section__row .select-custom {
		margin-bottom: 2.8rem;

		@include breakpoint-down(mobile) {
			margin-bottom: 1rem;
		}
	}

	.section__image {
		text-align: center;
		font-weight: 700;
		font-size: 2.4rem;
		font-family: var(--ff-now);
		display: inline-block;
		opacity: 0;
		transform: translateY(10rem);

		@include breakpoint-down(tablet) {
			font-size: 2.6rem;
		}

		@include breakpoint-down(mobile) {
			font-size: 1.8rem;
		}
	}

	.section__body .section__col .section__image {
		transform: none;
		opacity: 1;
	}

	.section__col {
		opacity: 0;
		transform: translateX(20rem);
	}

	.section__col:nth-child(2) {
		opacity: 0;
		transform: translateX(-20rem);
	}

	.section__image img {
		display: block;
		margin-bottom: 2rem;

		@include breakpoint-down(mobile) {
			margin-bottom: 2.6rem;
		}
	}

	.section__image--adjust img {
		margin-bottom: 2rem;

		@include breakpoint-down(mobile) {
			margin-bottom: 2rem;
		}
	}

	.section__body .section__image {
		transform: translateX(-20rem);
	}

	.section__row--align-right .section__image {
		transform: translateX(20rem);
	}

	.section__actions {
		margin-top: 4rem;
		text-align: center;

		@include breakpoint-down(tablet) {
			margin-top: 3rem;
		}
	}

	// is visible
	.is-visible {
		opacity: 1;
		transform: none;
		transition:
			transform 0.6s,
			opacity 0.6s ease-in-out;
	}

	.section__row .is-visible {
		opacity: 1;
		transform: none;
		transition:
			transform 0.6s,
			opacity 0.6s ease-in-out;
	}

	.section__col .is-visible {
		opacity: 1;
		transform: none;
		transition:
			transform 0.6s,
			opacity 0.6s ease-in-out;
	}

	.section__row--align-right .is-visible {
		opacity: 1;
		transform: none;
		transition:
			transform 0.6s,
			opacity 0.6s ease-in-out;
	}

	.section__head .is-visible {
		opacity: 1;
		animation: shakeTilt 1.4s;
		transition: opacity 0.6s ease-in-out;
	}
}
