/* ------------------------------------------------------------ *\
	section-form
\* ------------------------------------------------------------ */

.section-form {
	padding: 7rem 0;

	.section__cols {
		display: flex;
		align-items: flex-start;

		@include breakpoint-down(tablet) {
			flex-direction: column;
		}
	}

	.section__col {
		flex: 1 1 auto;

		@include breakpoint-down(tablet) {
			width: 100%;
		}
	}

	.section__col-fixed {
		width: 52rem;
		max-width: 52rem;
		position: relative;
		z-index: 10;
		padding-top: 9.6rem;

		@include breakpoint-down(tablet) {
			margin: 0 auto;
		}

		@include breakpoint-down(mobile-medium) {
			width: 100%;
			max-width: 100%;
		}
	}

	.section__content {
		position: relative;
		padding: 5rem 4rem 12.5rem;
		isolation: isolate;

		@include breakpoint-down(mobile) {
			padding: 3rem 2rem 9.5rem;
		}

		@include breakpoint-down(mobile-small) {
			padding: 2rem 2rem 6.5rem;
		}

		&:before {
			content: '';
			display: inline-block;
			position: absolute;
			z-index: -1;
			top: 0;
			left: 0;
			right: -10.2rem;
			height: 100%;
			background-image: url('/assets/images/svg/form-decoration.svg');
			background-repeat: no-repeat;
			background-size: cover;
			background-position: bottom left;

			@include breakpoint-down(tablet) {
				right: 0;
			}
		}
	}

	.section__form-simple {
		max-width: 77rem;
	}

	.section__holder {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 2rem;
		margin-top: -4rem;
		padding-right: 2rem;

		@include breakpoint-down(mobile) {
			padding: 0;
		}

		@include breakpoint-down(mobile-medium) {
			margin-top: 2rem;
			flex-direction: column;
		}
	}

	.section__holder > img {
		@include breakpoint-down(mobile) {
			max-width: 60%;
		}

		@include breakpoint-down(mobile-medium) {
			max-width: 100%;
			width: 100%;
		}
	}

	.section__holder-aside {
		text-align: center;
	}

	.section__holder-aside h5 {
		font-size: 2.1rem;
		font-family: var(--ff-now);
		font-weight: 500;
		text-wrap: balance;
		text-align: center;
		margin-bottom: 3rem;
		text-transform: uppercase;

		@include breakpoint-down(mobile) {
			font-size: 1.6rem;
		}
	}

	.section__label {
		margin-bottom: 1.8rem;
	}

	.section__aside-content {
		display: flex;
		align-items: center;
		gap: 2rem;

		@include breakpoint-down(small-desktop) {
			justify-content: space-between;
		}

		@include breakpoint-down(tablet) {
			justify-content: center;
		}

		@include breakpoint-down(mobile-medium) {
			flex-direction: column;
		}
	}

	.section__decoration-desktop {
		@include breakpoint-down(mobile-medium) {
			display: none;
		}
	}

	.section__decoration-mobile {
		display: none;

		@include breakpoint-down(mobile-medium) {
			display: block;
		}
	}

	.section__panel {
		width: 37.5rem;
		max-width: 37.5rem;

		@include breakpoint-down(mobile) {
			width: 30rem;
			max-width: 30rem;
		}
	}
}
