/* ------------------------------------------------------------ *\
	section alt
\* ------------------------------------------------------------ */

.section-alt {
	padding: 5.5rem 0;
	overflow: hidden;

	@include breakpoint-down(mobile) {
		padding: 1.8rem 0;
	}

	.section__head {
		background-color: #5e5e5f;
		padding: 1.9rem 5rem 1.9rem 1.9rem;
		color: #fff;
		text-align: center;
		position: relative;
		margin-bottom: 2.9rem;

		@include breakpoint-down(mobile) {
			padding: 1.6rem 3rem 1.6rem 1.6rem;
		}
	}

	.section__head h4 {
		@include breakpoint-down(mobile) {
			font-size: 2.6rem;
		}
	}

	.section__body {
		max-width: 100rem;
		margin: 0 auto;
		text-align: center;
	}

	.section__image {
		margin-bottom: 10rem;

		margin-bottom: 6rem;
	}

	.section__image img {
		margin-bottom: 2rem;

		@include breakpoint-down(mobile) {
			margin-bottom: 1rem;
		}
	}

	.section__link {
		font-size: 2.8rem;
		color: #000;
		font-weight: 600;

		@include breakpoint-down(mobile) {
			font-size: 1.8rem;
		}
	}

	.section__actions h4 {
		font-weight: 600;
		color: #000;
		margin-bottom: 3rem;

		@include breakpoint-down(mobile) {
			font-size: 2.4rem;
		}
	}

	.section__actions .section__actions__area {
		display: flex;
		justify-content: space-between;
		gap: 3rem;
		flex-wrap: wrap;
		margin-bottom: 7rem;

		@include breakpoint-down(tablet) {
			justify-content: center;
			gap: 5rem;
		}

		@include breakpoint-down(mobile) {
			gap: 2rem;
			margin-bottom: 4rem;
		}
	}
}
