/* ------------------------------------------------------------ *\
	section-cargo
\* ------------------------------------------------------------ */

.section-cargo {
	padding: 2rem 0 4.8rem;

	.section__list-steps {
		margin-bottom: 4.8rem;
	}

	.section__intro {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 11.2rem;
		margin-bottom: 5.9rem;
	}

	.section__image-left {
		opacity: 0;
	}

	.section__checkboxes {
		margin-bottom: 4.8rem;
	}

	// is visible
	.section__image-left.is-visible {
		animation: bounce-in 1.6s ease;
		opacity: 1;
		transition: opacity 0.6s ease-in-out;
	}
}
