/* ------------------------------------------------------------ *\
	section-table
\* ------------------------------------------------------------ */

.section-table {
	padding: 5rem 0;
	overflow: hidden;

	.section__bar {
		text-align: center;
		color: #fff;
		background-color: #1b97a7;
		padding: 1.2rem;
		margin-bottom: 2.4rem;
	}

	.section__bar h3 {
		font-family: var(--ff-montserrat);
		font-size: 2.7rem;
		font-weight: 600;

		@include breakpoint-down(mobile) {
			font-size: 2.2rem;
		}

		@include breakpoint-down(mobile-medium) {
			font-size: 1.8rem;
		}
	}

	.section__entry {
		@include breakpoint-down(tablet) {
			font-size: 18px;
		}
	}
}
