/* ------------------------------------------------------------ *\
	select-custom
\* ------------------------------------------------------------ */

.select-custom {
	@include breakpoint-down(mobile) {
		font-size: 1.6rem;
	}
	.select2-container {
		width: 100% !important;
	}

	.select2-container--default .select2-selection--single {
		border: 0.1rem solid #000000;
		height: auto;
		font-family: var(--ff-now-alt);
	}

	.select2-search--dropdown {
		display: none;
	}

	.select2-container--open .select2-dropdown--below {
		font-family: var(--ff-now-alt);
	}

	.select2-results__option .select2-results__option--disabled {
		padding: 0;
		margin: 0;
	}
}

.select-custom .select2-container {
	width: 100% !important;
}

.select-custom .select2-container--default .select2-selection--single {
	border: 0.1rem solid #000000;
	height: auto;
	font-family: var(--ff-now-alt);
}

.select-custom .select2-container--open .select2-dropdown--below {
	font-family: var(--ff-now-alt);
}

.select-custom.select-custom--xl {
	font-size: 2.6rem;

	@include breakpoint-down(mobile) {
		font-size: 1.8rem;
	}

	.select2-container--default .select2-selection--single .select2-selection__rendered {
		line-height: 40px;
	}

	.select2-container--default .select2-selection--single .select2-selection__arrow {
		height: 40px;
	}

	.select2-container--default .select2-selection--single .select2-selection__clear {
		height: 40px;
	}
}
