/* ------------------------------------------------------------ *\
	select-custom
\* ------------------------------------------------------------ */

.select-custom {
	@include breakpoint-down(mobile) {
		font-size: 1.6rem;
	}
	.select2-container {
		width: 100% !important;
	}

	.select2-container--default .select2-selection--single {
		border: 0.1rem solid #000000;
		height: auto;
		font-family: var(--ff-now-alt);
	}

	.select2-search--dropdown {
		display: none;
	}

	.select2-container--open .select2-dropdown--below {
		font-family: var(--ff-now-alt);
	}

	.select2-results__option .select2-results__option--disabled {
		padding: 0;
		margin: 0;
	}
}

.select-custom .select2-container {
	width: 100% !important;
}

.select-custom .select2-container--default .select2-selection--single {
	border: 0.1rem solid #000000;
	height: auto;
	font-family: var(--ff-now-alt);
}

.select-custom .select2-container--open .select2-dropdown--below {
	font-family: var(--ff-now-alt);
}

.select-custom.select-custom--xl {
	font-size: 2.6rem;

	@include breakpoint-down(mobile) {
		font-size: 1.8rem;
	}

	.select2-container--default .select2-selection--single .select2-selection__rendered {
		line-height: 40px;
	}

	.select2-container--default .select2-selection--single .select2-selection__arrow {
		height: 40px;
	}

	.select2-container--default .select2-selection--single .select2-selection__clear {
		height: 40px;
	}
}

//select-custom--price
.select-custom--price {
	.select2-container--default .select2-selection--single {
		border: none;
		background-color: #feeb17;
	}

	.select2-container--default .select2-selection--single .select2-selection__rendered {
		background-color: #feeb17;
		font-weight: 500;
	}

	.select2-container--default .select2-selection--single .select2-selection__clear {
		height: 40px;
	}

	.select2-container--default .select2-selection--single .select2-selection__arrow {
		height: 40px;
	}

	.select2-container--default .select2-selection--single .select2-selection__rendered {
		line-height: 40px;
	}

	.select2-container--default .select2-selection--single .select2-selection__placeholder {
		color: #000;
		font-weight: 500;
	}

	.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
		background-color: #feeb17;
		color: #000;
	}

	.select2-container--open .select2-dropdown--below {
		padding: 20px;
		border: none;
		box-shadow: 0 0.4rem 1.2rem rgba(0, 0, 0, 0.1);
		border-radius: 0.8rem;
	}

	.select2-results__option {
		padding: 1.2rem 1.6rem;
		border-bottom: 0.1rem solid #e0e0e0;
		font-size: 2rem;
		font-weight: 500;

		@include breakpoint-down(mobile) {
			font-size: 1.6rem;
		}
	}

	.select2-results__option .select-option {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}
