/* ------------------------------------------------------------ *\
	socials
\* ------------------------------------------------------------ */

.socials {
	position: relative;
	padding: 1.4rem 0 1.4rem 2.9rem;
	max-width: 20rem;

	.socials__decoration {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	> ul {
		position: relative;
		z-index: 2;
		list-style-type: none;
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		gap: 0.7rem 2.1rem;
	}

	> ul a {
		text-decoration: none;
	}

	> ul li.full-width {
		width: 100%;
		max-width: 100%;
		text-align: center;
		display: flex;
	}
}
