/* ------------------------------------------------------------ *\
	socials
\* ------------------------------------------------------------ */

.socials {
	position: relative;
	padding: 1.4rem 0 1.4rem 2.9rem;

	.socials__decoration {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	> ul {
		position: relative;
		z-index: 2;
		list-style-type: none;
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		gap: 0.7rem 2.1rem;

		@include breakpoint-down(tablet) {
			gap: 1rem 1.5rem;
			justify-content: flex-end;
		}

		@include breakpoint-down(mobile) {
			gap: 0.2rem 0.8rem;
		}
	}

	> ul a {
		text-decoration: none;
	}

	> ul a img {
		@include breakpoint-down(mobile) {
			width: 3rem;
		}
	}

	> ul li.full-width {
		width: 100%;
		max-width: 100%;
		text-align: center;
		display: flex;

		@include breakpoint-down(tablet) {
			justify-content: flex-end;
		}
	}

	> ul li.full-width a img {
		@include breakpoint-down(tablet) {
			width: 10rem;
		}
		@include breakpoint-down(mobile) {
			width: 6.5rem;
		}
	}
}
