// ==========================================================================
// Base
// ==========================================================================

html {
	font-size: var(--fz-html);
}

body {
	min-width: 320px;
	font-family: var(--ff-base);
	font-weight: var(--fw-base);
	font-size: var(--fz-base);
	line-height: var(--lh-base);
	color: var(--c-base);
	background-color: #fff;
}

a {
	color: inherit;
	text-decoration: underline;

	@media (hover: hover) {
		&:where(:hover, :focus-visible) {
			text-decoration: none;
		}
	}

	&[href^='tel'] {
		text-decoration: none;
	}
}

.level-1,
h1,
.level-2,
h2,
.level-3,
h3,
.level-4,
h4,
.level-5,
h5,
.level-6,
h6 {
	margin-bottom: calc(var(--lh-base) * 0.5em);
	font-family: var(--ff-jumbo);
	font-weight: 400;
}

.level-1,
h1 {
	font-size: 4rem;
}

.level-2,
h2 {
	font-size: 3.4rem;
}

.level-3,
h3 {
	font-size: 3rem;
	letter-spacing: 0.012em;
}

.level-4,
h4 {
	font-size: 2.9rem;
	font-family: var(-ff-now);
}

.level-5,
h5 {
	font-size: 2.6rem;
	font-family: var(-ff-now);
}

.level-6,
h6 {
	font-size: 2rem;
	font-family: var(-ff-now);
}

p,
ul,
ol,
dl,
hr,
table,
blockquote {
	margin-bottom: calc(var(--lh-base) * 0.5em);
}

h1[class],
h2[class],
h3[class],
h4[class],
h5[class],
h6[class],
h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child,
h6:last-child,
p:last-child,
ul:last-child,
ol:last-child,
dl:last-child,
table:last-child,
blockquote:last-child {
	margin-bottom: 0;
}

// Animatios
@keyframes shakeTilt {
	0% {
		transform: rotate(0deg) translate(0, 0);
	}
	20% {
		transform: rotate(-2deg) translate(-5px, 0);
	}
	40% {
		transform: rotate(2deg) translate(5px, 0);
	}
	60% {
		transform: rotate(0) translate(0, 0);
	}
	100% {
		transform: rotate(0deg) translate(0, 0);
	}
}
