// ==========================================================================
// Variables
// ==========================================================================

:root {
	--fz-html: 62.5%;
	--fz-base: 2.2rem;
	--fw-base: 400;
	--lh-base: 1.2;
	--ff-base: 'Inter', serif;
	--ff-jumbo: 'Jumbo Sale Trial', serif;
	--ff-now: 'Now', serif;
	--ff-now-alt: 'Now Alt', serif;
	--ff-montserrat: 'Montserrat', serif;
	--c-base: #4d4d4d;
}

$breakpoints: (
	mobile-small: 374px,
	mobile-medium: 575px,
	mobile: 767px,
	tablet: 1023px,
	small-desktop: 1199px,
);
