<footer class="footer">
	<div class="shell">
		<div class="footer__inner">
			<div class="footer__wrapper">
				<ul class="list-links footer__list-links">
					<li>
						<a href="#">Gizlilik Politikası</a>
					</li>

					<li>
						<a href="#">Çerez Politikası</a>
					</li>

					<li class="full-width">
						<a href="#">Kullanıcı ile Bireysel Sözleşme</a>
					</li>
				</ul><!-- /.list-links -->
			</div><!-- /.footer__wrapper -->

			<a href="#" class="footer__logo">
				<img src="assets/images/logo.svg" alt="logo" width="156" height="93">
			</a><!-- /.footer__logo -->

			<ul class="list-links-alt footer__list-links-alt">
				<li>
					<a href="#">
						<img src="assets/images/svg/whatsapp-2.svg" alt="whatsapp" width="140" height="50">
					</a>
				</li>

				<li>
					<a href="#">S.S.S.</a>
				</li>

				<li>
					<a href="#">İletişim</a>
				</li>
			</ul><!-- /.list-links-alt -->
		</div><!-- /.footer__inner -->
	</div><!-- /.shell -->
</footer><!-- /.footer -->
