<header class="header">
	<div class="shell">
		<div class="header__intro">
			<div class="socials">
				<img src="assets/images/svg/socials-decoration.svg" alt="decoration" class="socials__decoration">

				<ul>
					<li>
						<a href="#">
							<img src="assets/images/svg/facebook.svg" alt="facebook" width="43" height="43">
						</a>
					</li>

					<li>
						<a href="#">
							<img src="assets/images/svg/instagram.svg" alt="instagram" width="43" height="43">
						</a>
					</li>

					<li>
						<a href="#">
							<img src="assets/images/svg/whatsapp.svg" alt="whatsapp" width="119" height="116">
						</a>
					</li>
				</ul>
			</div><!-- /.socials -->

			<a href="#" class="logo header__logo">
				<img src="assets/images/logo.svg" alt="logo" width="500" height="299">
			</a><!-- /.logo -->

			<nav class="nav-accounts">
				<img src="assets/images/svg/nav-decoration.svg" alt="decoration" class="nav__decoration">

				<ul>
					<li>
						<a href="#">kurumsal hesap</a>
					</li>

					<li>
						<a href="#">partner hesap</a>
					</li>

					<li>
						<a href="#">kargo taki̇p</a>
					</li>
				</ul>
			</nav><!-- /.nav-accounts -->
		</div><!-- /.header__intro -->

		<div class="header__wrapper">
			<div class="header__wrapper-content">
				<nav class="nav">
					<ul>
						<li>
							<a href="#">Ana Sayfa</a>
						</li>

						<li>
							<a href="#">Nedir? <br> Nasıl?</a>
						</li>

						<li>
							<a href="#">Cargo Point Lokasyonları</a>
						</li>

						<li>
							<a href="#">Cargo Point’ten Cargo Point’e</a>
						</li>

						<li>
							<a href="#">Cargo Point’ten Adres’e</a>
						</li>

						<li>
							<a href="#">Adres’ten Cargo Point’e  </a>
						</li>

						<li>
							<a href="#">S.S.S.</a>
						</li>

						<li>
							<a href="#">Hakkımızda İletişim</a>
						</li>
					</ul>
				</nav><!-- /.nav -->
			</div><!-- /.header__wrapper-content -->
		</div><!-- /.header__wrapper -->
	</div><!-- /.shell -->
</header><!-- /.header -->
