<header class="js-header header">
	<div class="shell">
		<div class="header__bar">
			<nav class="nav-accounts header__nav-accounts-mobile">
				<ul>
					<li>
						<a href="#">kurumsal hesap</a>
					</li>

					<li>
						<a href="#">partner hesap</a>
					</li>

					<li>
						<a href="#">kargo taki̇p</a>
					</li>
				</ul>
			</nav><!-- /.nav-accounts -->
		</div><!-- /.header__bar -->

		<div class="header__intro">
			<img src="assets/images/svg/logo-decoration.svg" alt="" class="header__decoration header__decoration--adjust">

			<img src="assets/images/svg/logo-decoration.svg" alt="" class="header__decoration">

			<div class="socials header__socials">
				<img src="assets/images/svg/socials-decoration.svg" alt="decoration" class="socials__decoration">

				<ul>
					<li>
						<a href="#">
							<img src="assets/images/svg/facebook.svg" alt="facebook" width="31" height="31">
						</a>
					</li>

					<li>
						<a href="#">
							<img src="assets/images/svg/instagram.svg" alt="instagram" width="31" height="31">
						</a>
					</li>

					<li class="full-width">
						<a href="#">
							<img src="assets/images/svg/whatsapp.svg" alt="whatsapp" width="85" height="83">
						</a>
					</li>
				</ul>
			</div><!-- /.socials -->

			<a href="#" class="logo header__logo">
				<img src="assets/images/logo-alt.svg" alt="logo-alt" width="260" height="110">
			</a><!-- /.logo -->

			<nav class="nav-accounts header__nav-accounts">
				<img src="assets/images/svg/nav-decoration-alt.svg" alt="decoration" class="nav__decoration">

				<ul>
					<li>
						<a href="#">kurumsal hesap</a>
					</li>

					<li>
						<a href="#">partner hesap</a>
					</li>

					<li>
						<a href="#">kargo taki̇p</a>
					</li>
				</ul>
			</nav><!-- /.nav-accounts -->

			<div class="socials header__socials-mobile">
				<img src="assets/images/svg/socials-decoration.svg" alt="decoration" class="socials__decoration">

				<ul>
					<li>
						<a href="#">
							<img src="assets/images/svg/whatsapp.svg" alt="whatsapp" width="119" height="116">
						</a>
					</li>
				</ul>
			</div><!-- /.socials -->
		</div><!-- /.header__intro -->

		<div class="header__holder">
			<img src="assets/images/svg/logo-decoration.svg" alt="" class="header__decoration-mobile">

			<a href="#" class="js-nav-trigger nav-trigger header__nav-trigger">
				<span></span>

				<span></span>

				<span></span>
			</a><!-- /.js-nav-trigger nav__trigger header__nav-trigger -->
		</div><!-- /.header__holder -->

		<div class="header__wrapper">
			<div class="header__wrapper-content">
				<nav class="nav">
					<ul>
						<li class="is-current">
							<a href="#">Ana Sayfa</a>
						</li>

						<li>
							<a href="#">Nedir? <br> Nasıl?</a>
						</li>

						<li>
							<a href="#">Cargo Point Lokasyonları</a>
						</li>

						<li>
							<a href="#">Cargo Poin'ten Cargo Point'e</a>
						</li>

						<li>
							<a href="#">Cargo Point'ten Adres'e</a>
						</li>

						<li>
							<a href="#">Adres'ten Cargo Point'e  </a>
						</li>

						<li>
							<a href="#">S.S.S.</a>
						</li>

						<li>
							<a href="#">Hakkımızda İletişim</a>
						</li>
					</ul>
				</nav><!-- /.nav -->
			</div><!-- /.header__wrapper-content -->
		</div><!-- /.header__wrapper -->
	</div><!-- /.shell -->
</header><!-- /.header -->
