<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Adada Cargo - Your trusted cargo and logistics partner.">
	<meta name="keywords" content="Cargo, Logistics, Shipping, Freight">
	<meta name="author" content="Adada Cargo">

	<title>Adada Cargo</title>

	<link rel="icon" type="image/png" sizes="any" href="/assets/images/favicon32x32.png">

	<link rel="preload" href="assets/images/logo.svg" as="image" type="image/svg+xml">

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
</head>
